

.input {
  width: 100%;
  max-width: 320px;

  padding: clamp(10px, 2vh, 18px) 14px clamp(10px, 2vh, 15px) 46px;
  margin: clamp(6px, 1vh, 5px) 0;

  border-radius: 30px;
  border: 1px solid #555;
  background: #ffffff;

  font-size: clamp(14px, 2vh, 20px);
}

.remember {
  color: #262688;
  text-align: center;
  font-family: 'Fredoka', sans-serif;

  font-size: clamp(14px, 2vh, 24px);
  font-weight: 400;

}

.content {
  display: flex;
  width: 100%;
  max-width: 610px;

  padding: clamp(6px, 2vh, 12px) 20px;

  flex-direction: column;
  align-items: center;

  gap: clamp(8px, 2vh, 6px);

  z-index: 10;
  margin-bottom: 20vh;
}

.auth-logo {
  width: clamp(140px, 40vh, 300px);
}

@media (max-width: 768px) {
  .content {
    max-width: 90%;
  }

  .input {
    max-width: 100%;
    font-size: 18px;
  }

  .remember {
    font-size: 18px;
  }

  .auth-logo {
    width: 220px;
  }
}

@media (max-height: 700px){

  .auth-logo{
    width: 160px;
  }

  .input{
    padding: 10px 12px 10px 40px;
    font-size: 16px;
  }

  .remember{
    font-size: 16px;
  }

  .content{
    gap: 10px;
  }

}